<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ .Site.Params.description }}">

    <title>{{ .Site.Title }}</title>


    <link href='//fonts.googleapis.com/css?family=Fjalla+One|Open+Sans:300|Lobster' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.min.css">
    <link rel="stylesheet" href="css/pgbr.css">

    <meta property="og:url" content="{{ .Site.BaseURL }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ .Site.Title }}">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:description" content="{{ .Site.Params.description }}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@jgthms">
    <meta name="twitter:creator" content="@jgthms">
    <meta name="twitter:title" content="{{ .Site.Title }}">
    <meta name="twitter:description" content="{{ .Site.Params.description }}">

    <link rel="icon " type="image/png " href="images/favicon.png ">
</head>

<body class="page-layout ">

    {{ partial "section-main.html" . }} {{ partial "section-more.html" . }} {{ partial "section-location.html" . }} {{ partial "section-footer.html" . }}
</body>

<script>
function myMap() {
  var myLatlng = new google.maps.LatLng(-30.0236253,-51.2181521);
  var mapOptions = {
    zoom: 18,
    center: myLatlng
  }
  var map = new google.maps.Map(document.getElementById("map"), mapOptions);

  var marker = new google.maps.Marker({
      position: myLatlng
  });

  // To add the marker to the map, call setMap();
  marker.setMap(map);
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfQA8U05sxvgPN3b-t_E9sYIelVnOSdXo&callback=myMap"></script>

</html>
