<section class="hero is-fullheight">
    <!-- Hero header: will stick at the top -->
    <div class="hero-head ">
        {{ partial "top-menu.html" . }}
    </div>

    <!-- Hero content: will be in the middle -->
    <div class="hero-body bg-img ">
        <div class="container has-text-centered  ">
            <img src="images/pgbr_logo_bg.png " style="height: 350px; ">
            <h2 class="title is-2 ">
                <b>14, 15 e 16 de Setembro - Porto Alegre/RS</b>
            </h2>
        </div>
    </div>
</section>