<footer class="footer">
    <div class="columns content">
        <div class="column is-4 has-text-right">
            <img src="images/logo_pgbrcomm.png">
        </div>
        <div class="column  is-6">
            <p>
                <strong>#PGBR17</strong> é um evento realizado pelo
                <a href="http://postgresql.org.br/">PostgreSQL Brasil</a>.
            </p>
        </div>
    </div>
    <div class="container">

        <div class="content ">

        </div>
    </div>
</footer>