<section class="hero is-info is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-2 ">
                <b>Chamada de trabalhos</b>
            </h1>
            <div class="columns">
                <div class="column">
                    <h2 class="subtitle is-4">
                        Se você tem algo legal para falar de PostgreSQL, cadastre-se no formulário ao lado. Qualquer um pode submeter propostas até 15 de Agosto.
                        <br/> Propostas de workshop também são realizadas nesse formulário.
                    </h2>
                </div>
                <div class="column has-text-centered">

                    <div class="block">
                        <a class="button is-light is-large">Está esperando o quê? Clique aqui e submeta!</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>