<section class="hero is-info is-bold">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h1 class="title is-2 ">
                        <b>Chamada de trabalhos</b>
                    </h1>
                    <h2 class="subtitle is-4">
                        Se você tem algo legal para falar de PostgreSQL, cadastre-se no formulário ao lado. Qualquer um pode submeter propostas até 15 de Agosto.
                        <br/> Propostas de workshop também são realizadas nesse formulário.
                    </h2>
                </div>
                <div class="column ">
                    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeCv8Qmua-AGL2IoYAasVsO8wkvRJ_DVQ5oeIbN2VFiMOkgRw/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
                </div>
            </div>

        </div>
    </div>
</section>