<section class="hero is-info is-bold">
    <div class="hero-body">
        <div class="container">
            <div class="columnsis-mobile">
                <div class="column is-half is-offset-one-quarter">
                  <div class="container">
                    <h1 class="title is-2 ">
                        <b>Chamada de trabalhos</b>
                    </h1>
                  </div>
                  <h2 class="subtitle is-4">
                      Se você tem algo legal para falar de PostgreSQL, cadastre-se no formulário ao lado. Qualquer um pode submeter propostas até 15 de Agosto.
                      <br/> Propostas de workshop também são realizadas nesse formulário.
                  </h2>
                </div>
            </div>

            <div class="columns is-mobile">
              <div class="column is-half is-offset-one-quarter">
                <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSeCv8Qmua-AGL2IoYAasVsO8wkvRJ_DVQ5oeIbN2VFiMOkgRw/viewform?embedded=true" class="button is-primary pg-bnt-full">
                  Faça sua Proposta
                </a>
              </div>
            </div>

        </div>
    </div>
</section>
