<nav class="nav has-shadow">
    <div class="container">
        <div class="nav-left ">
            <span class="nav-item ">
                            <h1>{{ .Site.Title }}</h1>
                        </span>
        </div>
        <div class="nav-right nav-menu ">
            <a class="nav-item is-tab " href="# ">
            Home
          </a>
            <a class="nav-item is-tab" href="http://bulma.io/documentation/layout/hero/">

                <span class="icon ">
                                    <i class="fa fa-twitter "></i>
                                </span>
            </a>
            <a class="nav-item is-tab " href="http://bulma.io/documentation/layout/section/">
                <span class="icon ">
                                    <i class="fa fa-github "></i>
                                </span>
                <span>Ajude-nos!</span>

            </a>
        </div>
    </div>
</nav>